html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  display: flex;
    width: 100vw;
    height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

* {
  border: dotted 1px lightgray;
}

