@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;1,400;1,500&family=Work+Sans:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&display=swap');

html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  display: flex;
    width: 100vw;
    height: 100vh;
}

* { border: dotted 1px lightgray; }
